<div class="container-xxl py-5  hero-header mb-5" style="background-color:#808B96;">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="/assets/img/codee1.png" alt="img">
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Coding Education</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2"style="font-size: 1.3rem;">"Corporate Training for Social Impact" is a groundbreaking initiative presented by the "Padho Bhi Padhon Bhi" campaign. This program offers companies an opportunity to enhance their employees' skills through cutting-edge technology training while simultaneously making a difference in the lives of orphanage students and underprivileged children in government schools. By engaging in professional development sessions, employees contribute a minimum donation per participant, which goes towards providing coding education for marginalized youth. This initiative not only promotes corporate social responsibility but also fosters personal growth for employees while empowering disadvantaged communities through education and digital literacy.</p>
                <a href="/codingedu" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>
            </div>
        </div>
    </div>
</div>