<div class="container-xxl py-5  hero-header mb-5" style="background-color:#85C1E9 ;">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Coding Of Wheel</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2" style="font-size: 1.3rem;">Coding on Wheels is a transformative initiative by Glob TechPower Foundation (GTPF) aimed at empowering destitute students in orphanages by bridging the digital divide. The project utilizes a mobile learning unit equipped with cutting-edge technology and expert instructors to provide interactive coding lessons, workshops, and engaging activities. The primary objective is to impart essential coding skills, nurture creativity, and empower students to chart their own path to a brighter future.</p>
                <a href="/codingpage" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="/assets/img/codee.png" alt="img">
            </div>
        </div>
    </div>
</div>

